* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.nav_section {
  width: 100%;
  height: 50px;
  background: linear-gradient(#021b79, #0080ff, #021b79);
  position: relative;
}

.nav_section > h1 {
  text-align: center;
}

.nav_hamberguer_menu {
  position: absolute;
  right: 15px;
  top: 12px;
  cursor: pointer;
}

.hamberguer_menu {
  width: 18px;
  margin-top: 4px;
  height: 2px;
  background: blue;
  display: block;
}

.logo {
  height: 40px;
  margin-top: auto;
  position: absolute;
  left: 15px;
  top: 3px;
  cursor: pointer;
}
